<header>
    <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
        <a class="navbar-brand" href="#">岡山学芸館高等学校　国際理解教育ゼミ</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNav">
            <ul class="navbar-nav">
            <li class="nav-item active">
                <a class="nav-link" href="/">トップページ</a>
            </li>
            <li class="nav-item　active">
                <a class="nav-link" href="/posts">活動記録</a>
            </li>
            <li class="nav-item　active">
                <a class="nav-link" href="/contact.html">お問い合わせ</a>
            </li>
            </ul>
        </div>
    </nav>
</header>