@charset "utf-8";

body{
    font-family: a-otf-ud-shin-go-pr6n, sans-serif !important;
    font-weight: 300;
    font-style: normal;
}

h1, h2, h3, h4, h5, h6, b, .font-weight-bold{
    font-family: fot-udkakugo-large-pr6n,sans-serif;
    font-weight: 500;
    font-style: normal;
}

.serif{
    font-family: a-otf-futo-min-a101-pr6n, serif;
    font-weight: 400;
    font-style: normal;
}

.bold-gothic{
    font-family: a-otf-midashi-go-mb31-pr6n, sans-serif;
    font-weight: 600;
    font-style: normal;
}

.semibold-gothic{
    font-family: a-otf-futo-go-b101-pr6n, sans-serif;
    font-weight: 500;
    font-style: normal;
}

.light-sans-serif{
    font-family: a-otf-gothic-bbb-pr6n,sans-serif;
    font-weight: 400;
    font-style: normal;
}

.light-serif{
    font-family: a-otf-ryumin-pr6n, serif;
    font-weight: 300;
    font-style: normal;
}

.bold-serif{
    font-family: a-otf-midashi-mi-ma31-pr6n,serif;
    font-weight: 600;
    font-style: normal;
}

.bold-rounded{
    font-family: heisei-maru-gothic-std,sans-serif;
    font-weight: 800;
    font-style: normal;
}

.rounded{
    font-family: heisei-maru-gothic-std,sans-serif;
    font-weight: 400;
    font-style: normal;
}